:root {
    /*color*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #070707;
    --color-bg: #04152d;
     /* --color-bg: #050505; */
    /* Fonts */
    --font-robot: "Roboto";
}